@charset "UTF-8";
* {
    word-break: break-all;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%
}
h2.header-title {
    padding: 0 10px;
}
#thread_summary {
    /*font-size: 12px;*/
}
div.separator {
    border-bottom: 1px solid #ffff00;
    margin: 0 10px;
}
#ikioi_info {
    display: none;
}
#other_thread_info {
    display: none;
}
#other_thread_info ul {
    margin-left: 10px;
    font-size: 12px;
}
div.stp-content-body article {
    padding: 10px;
}
div..stp-content-body section div {
    margin-left: 10px;
}
#ikioi, #twitter_res, #origin_url {
    margin-left: 10px;
}
#ranking {
    padding-left: 15px;
}
#ranking img {
    width: 16px;
    height: 16px;
}
span.rank-other {
    color: #fff;
    display: inline-block;
    height: 16px;
    width: 16px;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}
div.profile-header {
    border-radius: 7px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}
div.profile-image {
    position: relative;
    z-index: 5;
    margin: 20px auto 6px;
    display: block;
    width: 73px;
    height: 73px;
    border: 4px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
}
img.size73 {
    width: 73px;
    height: 73px;
    border-radius: 3px;
}
div.follow-button {
    text-align: center;
    margin-left: 60px;