@charset "UTF-8";
* {
word-break: break-all;
-webkit-touch-callout: none;
-webkit-text-size-adjust: 100%
}
.header-title {
    padding: 0 10px;
}
#thread_summary {
    /*font-size: 12px;*/
}
div.separator {
    border-bottom: 1px solid #ffff00;
    margin: 0 10px;
}
#ikioi_info {
    display: none;
}
#other_thread_info {
    display: none;
}
#other_thread_info ul {
    margin-left: 10px;
    font-size: 12px;
}
div.stp-content-body article {
    padding: 10px;
}
div..stp-content-body section div {
    margin-left: 10px;
}
#ikioi, #twitter_res {
    margin-left: 10px;
}